# Ignore everything
*

# Always keep gitignore
!.gitignore

# Allow specific directories
!megapi_firmware/
!localization/

# Allow files inside localization to be evaluated
!localization/**

# Do not track these files
localization/.DS_Store
localization/homography_floor.npz

# Explicitly ignore runs
localization/runs/
